<h2>Unsere Mission</h2>
<p>
  Unsere Non-Profit-Organisation wurde gegründet, um eine Brücke zwischen Daten und Bewusstsein zu schlagen. Wir glauben fest daran, dass Wissen ein mächtiges Werkzeug ist, um positive Veränderungen herbeizuführen. Durch unsere Webseite möchten wir:
</p>
<ul>
  <li>Daten verfügbar machen: Wir sammeln und präsentieren CO²-Emissionsdaten von Unternehmen und Ländern auf verständliche und zugängliche Weise.</li>
  <li>Bewusstsein schaffen: Wir wollen Menschen dazu ermutigen, sich über die Auswirkungen von CO²-Emissionen auf unser Klima im Klaren zu sein.</li>
  <li>Verantwortlichkeit fördern: Indem wir Informationen bereitstellen, hoffen wir, Unternehmen und Länder zur Verantwortung zu ziehen und zu nachhaltigeren Praktiken anzuregen.</li>
</ul>

<h2>Unser Team</h2>
<p>
  Unsere Arbeit wird von einem engagierten und vielseitigen Team aus Fachleuten vorangetrieben. Wir vereinen Fachwissen aus den Bereichen Umweltwissenschaften, Webentwicklung, Datenanalyse und Design, um sicherzustellen, dass unsere Webseite die bestmögliche Benutzererfahrung bietet und gleichzeitig fundierte Informationen vermittelt.
</p>
