html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root{
  display:flex;
  height:100vh;
}
app-home, app-about, app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.mat-drawer-inner-container {
  background: linear-gradient(to bottom, #004400, #808080);
}

mat-sidenav {
  height: 100vh;
}
