html, body {
  background: #b3b8ba;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

router-outlet + * {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: .5rem;
}

.mat-secondary {
  background-color: #595459 !important;
}

