.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

app-header {
  display: flex;
}

app-content {
  display: flex;
  flex: 1;
  padding: .3rem;
  flex-direction: column;
}

app-footer {
  display: flex;
  width: 100%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

