.container {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  height: 100%; /* Make the container take up full height */
}



.table-container {
  flex: 1; /* Grow to take up all available space */
}
