table {
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 16px;
}
.search {
  width: 100%;
}
.impressum, .about {
  padding: .5rem;
}

 .mat-mdc-row .mat-mdc-cell {
   border-bottom: 1px solid transparent;
   border-top: 1px solid transparent;
   cursor: pointer;
 }

 .mat-mdc-row:hover .mat-mdc-cell {
   border-color: currentColor;
 }





