<mat-toolbar class="header">
  <button mat-button class="sideMenu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button routerLink="/index">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button routerLink="/about">
    <mat-icon>info</mat-icon>
  </button>

  <button mat-icon-button routerLink="/kontakt">
    <mat-icon>email</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav #sidenav [position]="position">
    <button mat-button (click)="sidenav.toggle()" class = "closeButton">
      <mat-icon>close</mat-icon>
    </button>
  <div class = "sidenav">
    <button class ="menuButton" mat-fab extended color="secondary">
      Nachhaltigkeit
    </button>
  <button class="menuButton" mat-fab extended color="secondary">
    Entwicklung
  </button>
    <button class="menuButton" mat-fab extended color="secondary">
      Regulierungen
    </button>
  </div>
</mat-sidenav>
