.header {
  justify-content: space-evenly;
}

.menuButton {
  margin-bottom: 0.5rem;
}

.sidenav {
  display: flex;
  padding: .5rem;
  justify-content: space-between;
  flex-direction: column;
}

.closeButton {
  width: 100%;
  border: 1px solid black;
}
