<h1>Kontaktieren Sie uns</h1>
<p>Willkommen auf unserer CO2-Fußabdruck-Seite! Wir freuen uns auf Ihre Fragen und Anliegen rund um die CO2-Emissionen von Unternehmen. Ihr Feedback und Ihre Fragen sind uns wichtig. Zögern Sie nicht, uns zu kontaktieren.</p>

<p>Unser Team ist bestrebt, Ihnen den bestmöglichen Service zu bieten. Ob Sie Informationen zu den CO2-Fußabdrücken von Unternehmen benötigen, Daten anfragen möchten oder einfach Ihre Gedanken teilen möchten - wir stehen Ihnen zur Verfügung. Wir schätzen Ihr Interesse an Umweltfragen und sind bereit, Ihre Anliegen zu beantworten.</p>

<p>Sie können uns per E-Mail, Telefon  erreichen. Wir werden uns so schnell wie möglich bei Ihnen melden, um Ihnen zu helfen.</p>

<div class="contact-info">
  <h2>Unsere Kontaktdaten:</h2>
  <ul>
    <li><strong>E-Mail: </strong> <a href="mailto:info@co2-fußabdruck.de">info@co2-fußabdruck.de</a></li>
    <li><strong>Telefon: </strong> +49 (0)1234 56789</li>
    <li><strong>Adresse: </strong> Musterstraße 123, 12345 Musterstadt, Deutschland</li>
  </ul>
</div>

<p>Vielen Dank für Ihr Interesse an der Reduzierung des CO2-Fußabdrucks von Unternehmen. Wir schätzen Ihre Kontaktaufnahme und freuen uns auf die Gelegenheit, Ihnen zu dienen.</p>

<p>Ihr Team von Musterfirma für CO2-Fußabdruck</p>
